[submodule "cases/hypervapotron_benchmark"]
	path = cases/hypervapotron_benchmark
	url = git@github.com:rweardley/hypervapotron_benchmark.git
[submodule "cases/MHD_Projects"]
	path = cases/ES_MHD
	url = git@github.com:EphraimSimasiku/MHD_Projects.git
